@import url("https://use.typekit.net/jmk3xov.css");

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.948);
  width: 100%;
  height: 100%;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 200px;
  font-family: alt horizontal, monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #18191aa0;
  color: white;
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li:nth-child(1) a.active {
  color: #4b62e6;
}

nav ul li:nth-child(2) a.active {
  color: #cd78b9;
}

nav ul li:nth-child(3) a.active {
  color: #3498DB;
}

nav ul li:nth-child(4) a.active {
  color: #69cf95;
}

nav ul li:nth-child(5) a.active {
  color: #cb8d57;
}

nav ul li:nth-child(6) a.active {
  color: #bf594a;
}

nav ul li:nth-child(7) a.active {
  color: #9966CC;
}

nav ul li:nth-child(8) a.active {
  color: #4b62e6;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 50px auto 0;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2,
h3,
h4 {
  background-color: #9d669256;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#header {
  grid-column: 2 / span 5;
  font-size: 3rem;
  padding: 5rem 0;
  margin-top: -6rem;
  margin-bottom: var(--spacing);
  text-align: left;
  position: relative;
  margin-left: 100px;
  background-color: #0f0e0f00;
}

.find-out-more-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: -10px;
  margin-left: 10PX;
  font-size: 14px;
}

.find-out-more-button:hover {
  background-color: #0056b3;
}

html {
  scroll-behavior: smooth;
}

section {
  grid-column: 2 / 8;
  padding: 3rem;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: var(--spacing);
  border-radius: 10px;
}

.left {
  grid-column: 6 / 12;
}

button {
  background-color: #f3eaf2;
  color: rgb(13, 12, 12);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f2dff4;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
  scroll-behavior: smooth;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
}

.skill-item img {
  max-width: 50px;
  height: auto;
}

.skill-name {
  display: none;
}

.skill-item:hover .skill-name {
  display: block;
}

#skills-certs {
  margin-left: -500px;
}

#skills-certs h2,
h3 {
  background-color: #78d08453;
}

.certifications a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8af381d4;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.certifications a:hover {
  background-color: #78d0ae;
  transform: scale(1.1);
}

#work-experience {
  margin-left: -150px;
}

.college {
  text-align: center;
}

.college a {
  text-decoration: none;
}

.college img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.college-name {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5ab3a1;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.college-name:hover {
  background-color: #69a9a5;
}

#education {
  padding: 20px;
  margin-left: 100px;
}

#education h2 {
  background-color: #0a47c056;
  color: #fff;
  padding: 10px;
}

#education h4 {
  background-color: #569cd691;
  color: #fff;
  padding: 5px;
}

#contact {
  text-align: center;
  padding: 20px;
  margin-left: 240px;
  width: 500px;
  height: 50px;
  background-color: #211e1e00;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  background-color: #e4e7eb00;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-links a {
  text-decoration: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.contact-links a:hover {
  transform: scale(1.1);
}

.contact-links img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #0f0e0f;
  padding: 5px;
  background-color: #fff;
}

#projects {
  margin-left: 30px;
  margin-right: 300px;
}

#projects h2 {
  background-color: rgba(233, 120, 44, 0.354);
  font-size: 30px;
  margin-bottom: 30px;
}

#projects ul {
  list-style-type: none;
  padding: 0;
}

#projects li {
  margin-bottom: 10px;
}

#projects a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 5px;
  background-color: #de8748d4;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#projects a:hover {
  background-color: #ed5334;
}

#work-experience .job-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #413e3e9f;
}

#work-experience .job-description.show-description {
    max-height: 500px; 
}
.job-title {
    cursor: pointer;
    background-color:#ff00003b;
}
#work-experience h2{
background-color: #cb1e1e40;
}
#Engagements h2 {
  background-color: #6816eb43;
}

footer {
  background-color: #2a2a2e;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #444;
}

.smooth-cursor {
  cursor: pointer;
}

.skill-item:hover img {
  transform: scale(1.5);
}

.emoji {
    position: relative;
}

.emoji::after {
    content: "She/Her";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: pink;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.emoji:hover::after {
    opacity: 1;
    cursor:pointer;
}


  
  
